<h1>News</h1>
<section>
<?php foreach ($this->news as $new) :?>

<h3><?php echo $new->title; ?></h3>
<em><?php echo $new->header; ?> <span><a href="<?php echo $this->url(NULL, array('controller' => 'news', 'action' => 'more', 'id'=> $new->id))?>"> ...więcej</a></span></em>

    <hr style="border-color: black">
<?php endforeach; ?>
</section>
