
<h3><?php $this->translate('Contact')?></h3>
<div class="container">
    <div class="panel panel-body">
        <?php if(isset($this->error)):?>
            <div class="alert alert-danger">
                W formulażu są błędy proszę popraw je :D
            </div>
        <?php endif; ?>
        <h1>Logowanie</h1>
        <?php
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url(NULL, array("controller"=>'login', 'action'=>'process')));
        echo $this->form()->openTag($form);
        ?>
        <div class="form-group">
            <?php
            echo $this->formLabel($form->get('login'));
            echo $this->formElement($form->get('login'));
            echo $this->formElementErrors($form->get('login'));
            ?>
        </div>
        <div class="form-group">
            <?php
            echo $this->formLabel($form->get('password'));
            echo $this->formElement($form->get('password'));
            echo $this->formElementErrors($form->get('password'));
            ?>
        </div>
        <div class="form-group">
            <?php
            echo $this->formElement($form->get('submit'));
            ?>
        </div>
    </div>
</div>

