
<h3><?php $this->translate('Contact')?></h3>
<div class="container">
    <div class="panel panel-body">
        <?php if(isset($this->error)):?>
            <div class="alert alert-danger">
                W formulażu są błędy proszę popraw je
            </div>
        <?php endif; ?>

<?php
    $formularz = $this->formularz;
    $formularz->prepare();
    $formularz->setAttribute('action', $this->url(NULL, array("controller"=>'kontakt', 'action'=>'send')));
    echo $this->form()->openTag($formularz);
?>
        <div class="form-group">
            <?php
            echo $this->formLabel($formularz->get('imie'));
            echo $this->formElement($formularz->get('imie'));
            echo $this->formElementErrors($formularz->get('imie'));
            ?>
        </div>
        <div class="form-group">
            <?php
            echo $this->formLabel($formularz->get('nazwisko'));
            echo $this->formElement($formularz->get('nazwisko'));
            echo $this->formElementErrors($formularz->get('nazwisko'));
            ?>
        </div>
        <div class="form-group">
            <?php
            echo $this->formLabel($formularz->get('email'));
            echo $this->formElement($formularz->get('email'));
            echo $this->formElementErrors($formularz->get('email'));
            ?>
        </div>
        <div class="form-group">
            <?php
            echo $this->formLabel($formularz->get('wiadomisc'));
            echo $this->formElement($formularz->get('wiadomisc'));
            echo $this->formElementErrors($formularz->get('wiadomisc'));
            ?>
        </div>
        <div class="form-group">
            <?php
            echo $this->formElement($formularz->get('submit'));
            ?>
        </div>
    </div>
</div>

