<?php $this->headTitle($this->pageIndexContent->page_header) ?>

<h3><?php echo $this->pageIndexContent->page_title; ?></h3>
<blockquote><?php echo $this->pageIndexContent->page_header; ?></blockquote>
<p><?php echo $this->pageIndexContent->page_content; ?></p>
